* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: antiquewhite;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-image: url(https://wallpaperaccess.com/full/215107.jpg);
  background-size: cover;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  width: 24vw;
  height: 100vh;
  opacity: 0.7;
}

.fieldset1 {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
}

.fieldset2 {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
}

.fieldset3 {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
}

.fieldset4 {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  padding: 2rem;
  padding: 1rem;
}

.submit {
  font-size: 3rem;
  margin: 2rem;
  margin-left: 2.1rem;
  padding: 1rem;
  border: solid;
}

#name,
#email,
#lastname,
#Estado,
#submit {
  background-color: black;
  border: solid;
}

#name,
#email,
#lastname {
  display: block;
}

.label2 {
  display: grid;
  width: 100%;
  height: 100%;
}

#Country {
  margin-top: 1rem;
  display: grid;
}

@media only screen and (max-width: 500px) {
  .container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
  }
}
